<ul>
    <% if (locals.errors) { %>
        <% errors.forEach((err) => { %>
            <li><%= err.msg %></li>
        <% }) %>
    <% } %>
    <% if (locals.messages) { %>
        <li><%= locals.messages %></li>
    <% } %>
</ul>
