<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
        <h1><%= title %></h1>
        <% if (locals.currentUser) { %>
            <ul>
            <li>We are logged in</li>
            </ul>
        <% } else { %>
            <p>You do not have permission to view this page!</p>
        <% } %>
        <a href="/">Back to home</a>
</body>
</html>
