<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
        <p>This page will contain a folder and its files</p>
        <a href="/">Back to previous folder, or maybe the home folder? For now it just points back to home</a>
</body>
</html>
