<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
        <% if (!locals.currentUser) { %>
            <form action="/" method="POST">
                <p>Log in</p>
                <label for="username">Username</label>
                <input id="username" name="username" type="text">
                <label for="password">Password</label>
                <input id="password" name="password" type="password">
                <button type="submit">Submit</button>
            </form>
        <a href="/register">Register</a>
        <% } else { %>
            <a href="/">Go to folders (wip)</a>
            <a href="/logout">Log out</a>
        <% } %>
</body>
</html>
