<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
        <form action="/register" method="POST">
            <p>Register</p>
            <label for="username">Username</label>
            <input id="username" name="username" type="text">
            <label for="password">Password</label>
            <input id="password" name="password" type="password">
            <label for="confirm">Confirm password</label>
            <input id="confirm" name="confirm" type="password">
            <button type="submit">Submit</button>
        </form>
        <a href="/">Back to home</a>
</body>
</html>
